<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="teste.css">
<title>Botão com Transição de Cor</title>


</head>
<body>
  <div class="wrapper">
    <div class="items">
      <div class="item" tabindex="0" style="background-image: url(images/Flores/BlackQueenFlower.jpg)"></div>
      <div class="item" tabindex="0" style="background-image: url(images/Flores/Tulipa.jpg)"></div>
      <div class="item" tabindex="0" style="background-image: url(images/Flores/DarkGreenSpike.jpg)"></div>
      <div class="item" tabindex="0" style="background-image: url(images/Flores/BlueSpiderLily.jpg)"></div>
      <div class="item" tabindex="0" style="background-image: url(images/Flores/PurpleBugFlower.jpg)"></div>
      <div class="item" tabindex="0" style="background-image: url(images/Flores/OrangeFirePlaceFlower.jpg)"></div>
      <div class="item" tabindex="0" style="background-image: url(images/Flores/GrayCarnivoreFlower.jpg)"></div>
      <div class="item" tabindex="0" style="background-image: url(images/Flores/TulipaVazo.jpg)"></div>
      <div class="item" tabindex="0" style="background-image: url(images/Flores/WitheSpyderLily.jpg)"></div>
      <div class="item" tabindex="0" style="background-image: url(images/Flores/PurpleSpiderLily2.jpg)"></div>
      <div class="item" tabindex="0" style="background-image: url(images/Flores/PurpleSpiderLily.jpg)"></div>
      <div class="item" tabindex="0" style="background-image: url(images/Flores/RedSpiderLily.jpg)"></div>
        
      </div>
        
      </div>

</body>
</html>
